# vim:ft=conf

# SMTP magic link sender
SES_SMTP_HOST=email-smtp.us-east-1.amazonaws.com
SES_SMTP_USER=...
SES_SMTP_PASS=...

# things that next auth needs
AUTH_SECRET=<auth secret>

# You should not modify these in development.
NEXTAUTH_URL=http://localhost:3000
AUTH_TRUST_HOST=http://localhost:3000

# where to store files and the database (recommend keeping these defaults)
FILESDIR=./files
DB_FILE_NAME=file:local.db

# who is the dictator who always has admin access no matter what?
DICTATOR=youremail@mit.edu
